@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PT Sans Bold */
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-700.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



.page-container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}





html {
  height: 100%;
  box-sizing: border-box;
}


body {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}




.page-header {
  background-color: white;
  color: black;

}

.navigation {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  width: 100%;
  max-width: 1200px;

  height: auto;
  align-items: center;

}

.navigation-item {
  list-style-type: none;
  position: relative;
}

.navigation-link {
  margin: 0;
  display: block;
  padding: 20px 16px;
}

.navigation-user-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-user-item:not(:last-of-type) {
  min-width: 44px;
}


.navigation-link-current::before {
  content: '';
  height: 2px;
  width: 68px;
  top: 60px;
  border-bottom: solid 2px rgba(117, 98, 87, 1);
  position: absolute;
}

.navigation-user-link-favorite {
  position: relative;
}

.notification-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  color: white;
  left: 10px;
  top: -11px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.header-button {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  min-width: 160px;
  padding: 8px 34px;
  white-space: nowrap;
  margin-left: 20px;
}

.navigation-link {
  color: #000;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 285px;
  flex-wrap: wrap;
  font-weight: 700;
  line-height: 24px;
  flex-shrink: 1;
  margin-right: 285px;
  font-size: 20px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;

  flex-shrink: 1;
}

img .navigation-user-item {
  margin: 0 auto;
}




.main-container {
  flex-grow: 1;
}

.hero {
  background: whitesmoke url(../images/background.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 70px;
  height: 100%
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 25px;
  height: 100%;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}


.advantages {
  text-align: center;
  margin-bottom: 64px;

}



.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list-title {
  padding-bottom: 69px;
  color: rgba(51, 51, 51, 1);
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}



.span-blue {
  height: 2px;
  width: 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: #000;
  position: absolute;
  top: 188px;
  left: 170px;

}

.span-gray {

  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  color: #000;
  position: absolute;
  top: 188px;
  left: 170px;

}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  margin-top: auto;
}


.advantages-item-wide {
  display: flex;

}

.advantages-items-gray {
  display: flex;
}

.advantages-item {
  list-style-type: none;
}

.advantages-item-container {
  position: relative;
  background-color: #82B3D3;
  color: white;
  text-align: center;
  align-items: center;

  width: 400px;
  padding: 102px 85px;
}



.advantages-item-gray {
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
  margin: 0;
  width: 400px;
  padding: 112px 85px;
  height: 100%;
}

.back {
  background-color: rgba(131, 179, 211, 0.2)
}

.infrastructure {
  margin-bottom: 96px;
}

.infrastructure-list {
  display: flex;
}


.infrastructure-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 20px auto;
  text-transform: uppercase;

}

.infrastructure-lead-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px auto;
  color: rgba(51, 51, 51, 1);
}

.infrastructure-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 81px 85px;
  list-style-type: none;

}

.infrastructure-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.infrastructure-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: rgba(51, 51, 51, 1);
}

.infrastructure-item-gray {
  background-color: rgba(131, 179, 211, 0.12);
}



.search {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 96px;
}

.search-title {
  margin: 0 auto 20px;
  text-transform: uppercase;
}


.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto 54px;
  color: rgba(51, 51, 51, 1);

}

.search-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 96px;
}

.subscribe {
  background: url(../images/catalog/bg-subsctibe.jpg) no-repeat center;
  background-size: cover;

  color: white;
  text-align: center;
  padding: 96px 258px;
  margin-bottom: 40px;
}

.subscribe-title {
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0;

}

.subscribe-button {
  background: #82B3D3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.footer-phone {
  color: black;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  width: 720px;
  text-align: center;
  margin-right: 42px;
}


.page-footer-container {

  display: flex;
  width: 1200px;
}

.footer-social-list {
  display: flex;
  margin-left: 40px;
  margin-right: 42px;
  list-style-type: none;
  gap: 22px;
  color: rgba(131, 179, 211, 1);
}


.copyright {
  margin-right: 70px;
}


.main-inner-header {
  background: url(../images/catalog/catalog-bg.png) no-repeat center;
  background-size: cover;
}

.main-inner-header-container {
  color: white;
  padding: 35px 210px 70px 70px;
  margin-bottom: 50px;

}

.main-inner-header-container a {
  color: white;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 auto 8px 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;

}

.breadcrumbs-item img {
  display: block;
  margin-right: 10px;
}



.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

}

.catalog-filter {
  display: flex;

}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-label {
  background: white;
  border-radius: 5%;
}

.range input[type='number'] {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.catalog-products-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.catalog-filter-submit {
  background-color: #82B3D3;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px;
}

.catalog-filter-reset {
  border: none;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px;
}

.catalog-products-header {
  display: flex;
  margin-bottom: 40px;
}

.view-buttons {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.view-button svg {
  stroke: rgba(229, 229, 229, 1);
}

.view-button rect {
  stroke: rgba(229, 229, 229, 1);
}

.view-button path {
  stroke: rgb(0, 0, 0);
  fill: #000000;
}

.view-button:hover svg,
.view-button:focus svg {
  stroke: #ffffff;
  fill: #000000;
}

.view-button:hover path,
.view-button:focus path {
  fill: #ffffff;
}

.view-button:hover rect,
.view-button:focus rect {
  fill: #000000;
}

.view-button-current rect {
  stroke: rgba(0, 0, 0, 1);


}

.catalog-products-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;

}




.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  text-align: left;
  min-width: 340px;
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  flex-grow: 1;
}

.product-card img {
  object-fit: cover;
}

.product-card-title-2nd-str {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-image {
  margin: 0 auto 16px auto;
  width: 100%;
}

.product-card button {
  margin-bottom: 16px;
}


.product-card-rating {
  text-align: right;
  margin: 0;
  position: relative;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-card-stars {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.star {
  margin: 10px auto;
  width: 18px;
  height: 17px;
  background: url('../images/star.svg') no-repeat center;
  align-self: center;
}

.product-card-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;

}

.product-card-title {
  color: black;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;

}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-button {
  color: white;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 26px;
  border-radius: 4px;

}

.add-favorite-button {
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 4px;
}

.favorite-button {
  color: white;
  background-color: #7DB54F;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 4px;
}

.product-card-rating {
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 4px;
}

.pagination {
  display: flex;
  gap: 8px;
  list-style-type: none;
  align-items: center;
}

.pagination-item {}


.pagination-link {
  padding: 11px 25px;
  border-radius: 5px;
  background-color: #82B3D3;
  color: #F2F2F2;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}

.pagination li:first-child {}

.pagination-text {
  padding: 11px 25px;
  border-radius: 5px;
  background-color: #F2F2F2;
  color: black;
}



.catalog-filter {
  display: flex;


}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  list-style: none;
  padding: 0;
  border: none;


}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
}


.catalog-filter-group {
  width: 150px;
  justify-content: center;

}


.catalog-filter-group-price {
  display: flex;

  min-width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 70px;

}




.range-input {
  max-width: 143px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-button:hover {
  background-color: #9d8174;

}

.header-button:focus {
  background-color: #9d8174;
  border: solid 2px #5f4e46;
}


.search-button:hover {
  background-color: #9d8174;

}

.search-button:focus {
  background-color: #9d8174;
  border: solid 2px #5f4e46;
}


.subscribe-button:hover {
  background-color: #95cef3;

}

.subscribe-button:focus {
  background-color: #95cef3;
  border: solid 2px #5e8098;

}


.catalog-filter-submit:hover {
  background-color: #8ec3e6;

}

.catalog-filter-submit:focus {
  background-color: #8ec3e6;
  border: solid 2px #5e8098;
}

.catalog-filter-reset:hover {
  color: rgb(171, 171, 171);
}


.catalog-filter-reset:focus {
  border: solid 2px rgba(171, 171, 171, 0.3);
  color: rgb(171, 171, 171);
}


.product-card-button:hover {
  background-color: #9d8174;
}

.product-card-button:focus {
  background-color: #9d8174;
  border: solid 2px #5f4e46
}

.add-favorite-button:hover {
  background-color: #87c0e9;
}

.add-favorite-button:focus {
  background-color: #87c0e9;
  border: solid 2px #5e8098;

}


.favorite-button:hover {
  background-color: #91d35c;
}

.favorite-button:focus {
  background-color: #8fd05a;
  border: solid 2px #6b9a44;

}
